# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# --- WASM stuff ---
emsdk/
*.wasm

# --- Python Flask stuff ---
env/
venv/
__pycache__/
*.pyc
instance/
*.db
*.log
.env
static/*.wasm

# --- OS/system junk ---
.DS_Store
Thumbs.db

# Python environment (if you have a virtualenv or venv)
env/
venv/

# Python bytecode cache
__pycache__/
*.pyc

# Common OS files
.DS_Store
Thumbs.db

# Flask development files
instance/
*.db

# Misc
*.log


# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
